<div class="panel panel-default">
  <div class="panel-heading"><h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span><%= @contact.name() %></h1></div>
  <div class="panel-body">
    <ul class="list-group">
      <% @contact.phones().each() do |phone| %>
      <li class="list-group-item"><%= phone.type() %></li>
      <li class="list-group-item"><%= phone.number() %></li>
      <br>
      <% end %>
    </ul>
    <h3><span class="label label-default">Add a line: </span></h3>
    <form action="/add_detail/<%= @contact.id() %>" method="post">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></span>
        <input type="text" class="form-control" name="number" placeholder="Number" aria-describedby="basic-addon1">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></span>
        <input type="text" class="form-control" name="type" placeholder="Line type e.g. Cellular" aria-describedby="basic-addon1">
      </div>
      <br>
      <button type="submit" class="btn btn-sm btn-primary">Add</button>
      <button type="reset" class="btn btn-sm btn-danger">Reset</button>
    </form>
  </div>
  <form id="form_id" action="/" method="get">
    <button type="submit"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button>

  </form>
</div>
