<!DOCTYPE html>
<html>
  <head>
    <title>Personal Phone Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Phonebook <small>A place for your contacts.</small></h1>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
